.blog-hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-block-box{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 60%;
    height: auto;
    padding: 2rem;
    border-radius: 2rem;
    border: .5rem solid #000000;
}

.add-block-box form{
    gap: .5rem;
    display: flex;
    flex-direction: column;
}

